
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a2042;
    background-image: url('sf-seal.PNG'); 
    background-size: 75%;                 
    background-position: center;            
    background-repeat: no-repeat;            
    background-attachment: fixed; 
}


.navbar {
    background-color: #172b44;
    padding: 20px 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;        
    list-style-type: none;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    gap: 60px;
    font-weight: bold;
    font-size: 22px              
}


.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    padding:  0px 12px;
    font-size: 18px;
}


.nav-links a:hover {
    background-color: #555;
    border-radius: 4px;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: #ffffff;
    font-family: 'times new roman', serif;
    font-size: 78px;
}

.subtitle { 
  text-align: center; 
  margin-top: 20px; 
  font-size: 30px; 
  color: #ffffff; 
  font-family: 'times new roman', serif; 
}


.subtitle-content ul { 
  display: flex; 
  justify-content: center; 
  gap: 40px;               
  flex-wrap: wrap;         
  
  margin-top: 20px; 
  font-size: 20px; 
  font-family: 'times new roman', serif; 
  list-style-type: disc; 
  padding: 20px;              
}

.subtitle-content ul li {
  color: #ffffff;
}

.white-divider {
    display: block;
    margin: -50px auto 0 auto;
    filter: invert(1) brightness(3);
    margin-left: auto;
    margin-right: auto;
    width:80%;
    transform: scaleY(.2);
    padding: 20px 0px;
}


.content {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px !important;
    font-size: 25px;
    padding: 0;
    color: #ffffff;
    font-family: 'times new roman', serif;
}

.content2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px !important;
    font-size: 25px;
    padding: 40px;;
    color: #ffffff;
    font-family: 'times new roman', serif;
}

.grid-text {
    text-align: center;
    font-size: 40px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

}

.grid-container { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px; 
    padding: 20px;
    z-index: 1;
}

.grid-container > div {
    border: 15px solid #ffffff; 
    padding: 15px;
    color: #020202;
    word-break: break-all; 
    border-radius: 75px;
    background-color: white;
    z-index: 10;
}

.carousel-img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Prevents the poster graphic from distorting or stretching */
    border-radius: 15px;
    opacity: 0.4;
    transition: all 0.5s ease;
    justify-content: center;
}

/* Scaled active item center dimension rules */
#slide1:checked ~ .carousel-track .img1,
#slide2:checked ~ .carousel-track .img2,
#slide3:checked ~ .carousel-track .img3 {
    opacity: 1;
    width: 250px;
    height: 250px;
}


