body { 
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: #0a2042; 
  background-image: url('images/sf-seal.PNG'); 
  background-size: 75%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
} 
.navbar { 
  background-color: #172b44; 
  padding: 20px 40px; 
  position: sticky;
  top: 0;
  z-index: 1000;
} 
.nav-links { 
  display: flex; 
  justify-content: center; 
  list-style-type: none; 
  flex-wrap: nowrap; 
  margin: 0; 
  padding: 0; 
  gap: 60px; 
  font-weight: 500; 
  font-size: 22px; 
} 
.nav-links a { 
  display: block; 
  color: white; 
  text-decoration: none; 
  padding: 0px 12px; 
  font-size: 18px; 
} 
.nav-links a:hover { 
  background-color: #555; 
  border-radius: 4px; 
} 
.title { 
  text-align: center; 
  margin-top: 50px; 
  font-family: 'times new roman', serif; 
  font-size: 78px; 
    color: #ffffff;
} 
.subtitle { 
  text-align: center; 
  margin-top: 20px; 
  color: #ffffff; 
  font-family: 'times new roman', serif; 
  font-size: 25px; 
}

.grid-container { 
  display: grid; 
  grid-template-columns: 1fr; 
  padding-top: 40px; 
  padding-left: 200px; 
  padding-right: 200px; 
  width: 100%; 
  box-sizing: border-box; 
} 

.grid-text { 
  background-color: #ccd0d3; 
  color: #0a2042; 
  padding: 150px 40px; 
  border-radius: 75px; 
  text-align: center; 
  margin-bottom: 40px;
  margin-top: 40px;
} 

.mid-box {
  background-color: #172b44;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 36px;
  box-sizing: border-box;
  width: 100%;            
  max-width: 800px;       
  padding: 60px 20px;     
  margin-top: 20px;       
  margin-bottom: 20px;    
  margin-left: auto;      
  margin-right: auto;     
}

.content3 {
    text-align: center;
    margin-top: 5px;
    font-size: 50px;
    color: #ffffff;
    font-family: 'times new roman', serif;
}

.bottom-navbar { 
  position: relative; 
  
  width: 100vw !important; 
  left: 50%;
  transform: translateX(-50%);
  
  background-color: #ffffff; 
  padding: 0px 400px; 
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 
  box-sizing: border-box; 
}


.footer-section { 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  gap: 10px; 
} 

.connect-us { 
  font-family: sans-serif; 
  font-weight: bold; 
  font-size: 18px; 
  color: #333; 
  text-decoration: none; 
} 

.social-icons { 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 15px; 
} 

.nav-image { 
  display: block; 
  width: 44px; 
  height: 44px; 
  object-fit: contain; 
}

.misc-images .nav-image {
  width: 100px; 
  height: 100px;
  display: flex;
  align-items: center;
}

.fb-icon { 
  width: 75px !important; 
  height: 75px !important; 
}

.center-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: auto;
  margin: 0 auto;
}

.center-gallery .nav-image {
  display: inline-block !important;
  width: 250px !important;
  height: 250px !important;
  margin: 0 10px !important;
}

.white-divider {
    display: block;
    margin: -50px auto 0 auto;
    filter: invert(1) brightness(3);
    margin-left: auto;
    margin-right: auto;
    width:80%;
    transform: scaleY(.2);
    padding: 20px 0px;
}

.grid-clickable-text2 { 
  background-color: #172b44; 
  color: #ffffff; 
  padding: 20px 40px; 
  border-radius: 75px; 
  text-align: center; 
  margin-bottom: 40px; 
  margin-top: 40px; 
}

.grid-link-wrapper {
  display: block !important;
  text-decoration: none !important;
  width: 100% !important;
  cursor: pointer;
}

.grid-clickable-text2 p {
  color: #ffffff !important; 
  font-size: 24px !important;
  font-family: sans-serif !important;
  margin: 0 !important;
}

.dropdown {
  text-align: center;
  margin-top: 5px;
  font-size: 50px;
  color: #ffffff;
  font-family: 'times new roman', serif;
  justify-content: center;
  text-decoration: underline;
}